/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree ./print
 *= require_self
 *= require bootstrap
 */

a:link, a:visited {background: transparent; color:#333; text-decoration:none;}

div#card-limits {
  display: none;
}

div#current-counts {
  display: none;
}

input#print-button {
  display: none;
}

div#middle-section {
  display: none;
}

div#all-cards {
  display: none;
}

div.list-group a[href]:after {
  content: initial;
}