/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap
 */

body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
}

#flash_notice {
  margin-top: 1em;
}

.message {
  border-radius: 4px;
  width: 80%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
}

.notice {
  background-color: #eff3da;
  color: #666666;
  line-height: 16px;
  padding: 20px 16px 16px 60px;
}