// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.card-list {
  width: 45%;
  height: 600px;
  overflow-y: scroll;
}

div#all-cards {
  float: left;
}

div#deck-cards {
  float: right;
}