// Place all the styles related to the Decks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.card-list {
  width: 45%;
  height: 600px;
  overflow: auto;
}

div.left {
  float: left;
}

.right {
  float: right;
}

div#deck-info {
  height: 315px;
}

div#card-limits {
  width: 45%;
}

div#current-counts {
  width: 45%
}

tr.valid {
  background-color: green;
}

tr.over {
  background-color: red;
}

tr.under {
  background-color: yellow;
}

td.delete {
  width: 100px;

  img {
    width: 20px;
    height: auto;
  }
}

a#new-deck {
  font-size: 2em;
}

div#player-select {
  width: 20%;
}

p.submit {
  padding-top: 2em;
}

div#middle-section {
  height: 75px;
  padding-top: 1em;
}

div#card-list-filter {
  width: 45%;
  margin-bottom: 1em;
}

div#default-deck {
  width: 45%
}
