<%- if card_list.present? -%>
  <%- card_list.each do |card| -%>
    <%- path = action == 'remove' ? remove_card_deck_path(@deck) : add_card_deck_path(@deck) -%>
    <%= render partial: 'card', object: card, locals: { path: path, action: action } %>
  <%- end -%>
<%- else -%>
  <p>This list is empty.  Add some cards!</p>
<%- end -%>
