<h3>Create a new deck!  First choose a player and a character.  You'll get to add cards later.</h3>

<%= form_for @deck do |f| %>
  <div id="player-select" class="left">
    <p>Player</p>
    <%= collection_select(:deck, :player_id, Player.all, :id, :name, prompt: true) %>
  </div>

  <div id="character-select">
    <p>Character</p>
    <%= collection_select(:deck, :character_id, Character.all, :id, :name, prompt: true) %>
  </div>

  <p class="submit">
    <%= f.submit %>
  </p>
<% end %>
